body {
    font-family: "Poiret One", sans-serif;    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #000000;
}
html {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
h1, h2 {
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    text-align: center;
    color: #ffffff;
}
.album img {
    width: 100%;
}
.apple {    width: fit-content;
    margin: 0 auto;
    background-color: #FA2D48!important;display: inline-block;}
#contact .section_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contactlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75vh;
    width: 100%;
}
.credit {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    bottom: 86px;
    z-index: 1;
    right: 50%;
    width: fit-content;
    transform: translateX(50%);
}
.credit div {
    display: inline-block;
}
#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery_holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.gallery_holder .photo {
    width: 20%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.gallery_holder .photo:hover {
    opacity: .75;
}
.gallery_holder .photo:nth-child(1){
    background-image: url(images/Gallery/59BE90A9-E890-4CD8-A6DA-F64EF796E176.JPG);
}
.gallery_holder .photo:nth-child(2){
    background-image: url(images/Gallery/a37011c3-91dc-42f4-b40c-b89f4ecdba2b\ \(1\).JPG);
}
.gallery_holder .photo:nth-child(3){
    background-image: url(images/Gallery/BBAA960D-86CF-4264-9795-CD6FE6DC9EC5.PNG);
}
.gallery_holder .photo:nth-child(4){
    background-image: url(images/Gallery/CFTcfy2022JP_00073\ \(C\)\ Johan\ Persson.JPG);
}
.gallery_holder .photo:nth-child(5){
    background-image: url(images/Gallery/IMG_4048\ \(1\).JPG);
}
.gallery_holder .photo:nth-child(6){
    background-image: url(images/Gallery/IMG_5286.jpg);
}
.gallery_holder .photo:nth-child(7){
    background-image: url(images/Gallery/Screenshot\ 2024-04-16\ at\ 07.22.56\ \(1\).JPEG);
}
.gallery_holder .photo:nth-child(8){
    background-image: url(images/Gallery/IMG_4702.PNG);
}

#home {
    background-image: url(images/OliviersBG.JPG);
    background-position: top center;
}

#home .logo{
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-size: 100px;
    line-height: 1;
    color: #ffffff;
}
#home .logo .tagline {
    margin: 10px 0 0 0;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home .logo .tagline span{
    font-size: 20px;

}
.lightbox {
  display: none; /* must start hidden */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center; align-items: center; flex-direction: column;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lightbox.fade-in {
  opacity: 1;
}

.lightbox-img {
  max-width: 90%; max-height: 80%; margin-bottom: 10px; border-radius: 8px;
}

.lightbox .caption { color: #fff; text-align: center; font-size: 1.2rem; }

.lightbox .close {
  position: absolute; top: 20px; right: 30px;
  font-size: 2rem; color: #fff; cursor: pointer;
}

.lightbox-nav { position: absolute; top: 50%; color: #fff; font-size: 2rem;
  background: transparent; border: none; cursor: pointer; user-select: none; transform: translateY(-50%);
}

.lightbox-nav.prev { left: 20px; }
.lightbox-nav.next { right: 20px; }

.js-scroll {opacity: 0;transition: opacity 500ms;}
.js-scroll.scrolled {opacity: 1;}
.mobile {display: none;}
nav {
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    padding-top: 40px;
    background: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%);}
nav ul {
    margin: 20px auto;
    padding: 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #ffffff;
}
nav a li {
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    margin-top: 10px;
}
.quote {
  font-family: "Poiret One", sans-serif;
  text-align: center;
  font-size: 40px;
  max-width: 75%;

  /* glass effect */
  background:rgb(0 0 0 / 25%);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 18px;
  padding: 30px 40px;

  /* makes it feel like “glass” */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 0 auto;
}

.quote span {
  font-size: 20px;
  display: block;
  margin-top: 16px;
  opacity: 0.9;
}

.section {
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 30px 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.quote_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home::after {
    content: "";
    width: 100%;
    height: 50px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    z-index: 0;
    display: block;
    bottom: -1px;
}
.section_content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
    line-height: 1.3;
}
.slider-wrapper {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 100%;
  }
  
  .slides-container {
    height: fit-content;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0 0 50px;
    padding: 0;
    color: #ffffff;
  }
  #slides-container-3 {
    height: 300px;
  }
  #slides-container-3 .slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slides-container-3 .slide:nth-child(2) {
    background-color: #0597ff;
  }
  #slides-container-3 .slide:nth-child(3) {
    background-color: #2db45d;
  }
  #slides-container-3 .slide:nth-child(4) {
    background-color: #b4872d;
  }
  #slides-container-3 .slide:nth-child(5) {
    background-color: #2d48b4;
  }
  #slides-container-3 .slide:nth-child(6) {
    background-color: #b42db4;
  }
  #slides-container-3 .slide:nth-child(7) {
    background-color: #b42d2d;
  }
  #slides-container-3 .slide:nth-child(8) {
    background-color: #a7b42d;
  }
  #slides-container-3 .slide h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }
  #slides-container-3 .slide .title {
    font-size: 30px;
  }
  #slides-container-4 .slide {
    flex: 1 0 33.3%;
  }
  #slides-container-5 .slide {
    flex: 1 0 33.333;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev-1, #slide-arrow-prev-2, #slide-arrow-prev-3, #slide-arrow-prev-4 {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next-1,  #slide-arrow-next-2,  #slide-arrow-next-3, #slide-arrow-next-4 {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
    width: 200px;
    height: 100%;
    flex: 1 0 12.5%;
    text-align: center;
  }
  .slide h2 {
    transform: rotate(270deg);
    position: relative;
    top: 100px;
    font-size: 40px;
  }
  .slide p {
    font-size: 15px;
  }
  .slide .notes {
    font-size: 15px;
    background-color: #df212b;
    padding: 5px;
    margin: 5px auto 0;
    transition: .5s;
}
.slide a {
    cursor: pointer;
}
.slide a:hover .notes {
    background-color: blue;
}
.slide .role {
    font-size: 15px;
}
.slide .theatre {
    font-style: italic;
    font-size: 17px;
    
}
.slide .title {
    text-transform: uppercase;
}
.spotify {    width: fit-content;
    margin: 0 auto;
    background-color: #1db954!important;display: inline-block;}
.subsection {
    margin-top: 60px;
    width: 100%;
}
.video {
    width: 30%;
}
.videoPlayer {
    aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}
.photo {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
    body {font-size: 15px;color: #ffffff;}
    #contact {padding-top: 50px;}
    .contactlinks {flex-wrap: wrap;min-height: 20vh;margin-bottom: 300px;}
    .contactlinks a {width: 100%; text-align: center;}
    .credit {width: 90%; text-align: center;}
    .gallery_holder {margin: 100px auto 150px;}
    .gallery_holder .photo {width: 50%;}
    h1 {font-size: 1.75em;}
    h2 {font-size: 1.25em;}
    #home {background-size: 137%;min-height: calc(100vh - 60px);}
    #home .logo { left: 0;width: 100%;font-size: 70px; text-align: center;bottom: 150px;}
    #home .logo .tagline {flex-wrap: wrap;margin-top: 50px;}
    #home .logo .tagline span {width: 100%;}
    .mobile {display: block;}
    .section {min-height: 0; padding: 0;}
    .slides-container .slide:first-child{display: none;}
    .slide {flex: 1 0 50%;}
    #slides-container-4 .slide {
        flex: 1 0 100%;
    }
    .quote {font-size: 30px;padding: 20px 22px;}
    .quote_section{ min-height: calc(100vh - 60px);
    padding: 30px 0;}
}